.tituloprincipal{
    padding-left: 40px;
}

#banner{
    width: 100%;
}
.principal{
    background:#cccccc ;
    padding: 20px;
}



.titulocentralizado{
    text-align: center;
}


p{
    text-align: center;

}



em strong{ 
    color: red;
}
#mision{
    font-size: 20px;
}



.items{
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.Diferenciales{
    background: #ffffff;
    padding: 30px;
}
.imagenDiferenciales{
 width: 50%;
}
